$primary-color:rgb(214, 30, 30);
$secondary-color: #14151A;
$date-color:#FFB320;
$comment-color:#08ABBD;
$gray-color:#9f9f9f;
$light-color: #fefefe;

body{
    background-color: $primary-color;
}
/** 

font-family: 'Changa', sans-serif;
font-family: 'Open Sans', sans-serif;

**/

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap');

$primary-font: 'Changa', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

/** 
General Settings

**/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size:  1rem;
}